<h2>List of Books</h2>
    <p>Number of books: <%=bookList.length %></p>
<ol>
<% for( var i = 0; i < bookList.length; i++){ %>
    <li><%= bookList[i]['Book Title'] %>
    <a href='/books/delete/<%= bookList[i].ID %>'>Delete</a> <a href="/books/edit/<%= bookList[i].ID %>">Edit</a>
    <p>Author: <%= bookList[i]['Author 1 First Name'] %> <%= bookList[i]['Author 1 Last Name'] %></p></li>
    <% } %>
</ol>